In [2]:
import pandas as pd
import requests
import numpy as np
import json
from bs4 import BeautifulSoup as bs
import random
import time
import json
import pickle

In [16]:
with open("listas_usuarios_5.pickle", "rb") as archivo:
    listas = pickle.load(archivo)

In [17]:
gran_df = pd.DataFrame()
for user_id, value in listas.items():
    name = value.pop("nombre")
    value = {x[0]: x[1][0] for x in value.items() if (x[1][1] == 2) and (x[1][0] > 0)}
    if len(value) == 0:
        print(name, value)
        continue
    dato = {f"{user_id}:{name}": value}
    dato_df = pd.DataFrame.from_dict(dato, orient='columns')
    gran_df = pd.concat([gran_df, dato_df], axis=1)

Sadless {}
Tranboy {}
theresianggara {}
SakuraMizuki {}
nbb113 {}
Rangefull {}
tonged {}
Nymevoli {}
JackieWong {}
Kyzr_ {}
itachan1995 {}
saad_berisha-7 {}
jxpei {}
4_442213 {}
baldy1997 {}
Konamisequence {}
Requiescatinpace {}
maxley {}
onodasakamichi {}
reaper6400 {}
caiovinii {}
watersn {}
Shadowwarior91 {}
monstriukas {}
kyandiichan {}
kagayema {}
fezatron {}
Redxd98 {}
Alaanmower {}
Emkayism {}
harkwan {}
HolicStarzzz {}
ToySoldier {}
Testimonial {}
Catalix {}
lanerain {}
junthegamer {}
TrashB0at {}
Hampo12 {}
brycedud {}
FThany1976 {}
claptrash {}
AWAisme {}
IronUzak {}
PcDude49 {}
IcYdaRkneSs {}
InorimasuSan {}
mslnc007 {}
yayazim {}
OmegaX13X {}
passwordStockian {}
Sadas {}
nerrow1234567 {}
eren1 {}
Songdeath {}
tzuip {}
nicrogamer14 {}
visce {}
Aiscence {}
Krunkenstein {}
isisgonza9277 {}
gulgun {}
Zain_Aayush {}
pyroace {}
treester {}
Joffy95 {}
Riny98 {}
By_blood_adorned {}
Galimateo {}
aryalibritannia {}
christineroz14 {}
FoxesTrot {}
chrishcc {}
NatyTuxen {}
1una_p {}
awestruck_pony {}
SkSc_Caboose {}
hakoraa {}
Mai_Valles {}
goyadf {}
lexaluna {}
Berilium25 {}
jenaltals {}
kendaru {}
DualZephyr {}
mango-mouse {}
bunneh916 {}
footmen12 {}
killakid7411 {}
rond0 {}
Chevreuil {}
BehindBangs {}
the-fbi {}
timothysango {}
Beeowulf {}
alyyy {}
rokudosav {}
turnipot {}
Oceanpet {}
Blandelli {}
Mario_Oreo {}
TheGreatMarimo {}
ahryse {}
aangel16119 {}
bruno_spfc {}
sermurchi {}
Muhammad96 {}
Momoi-Tetsuya {}
DiagonD {}
AincradSAO {}
darren-wee {}
awolspaceranger {}
zackira555 {}
WolfBebop {}
Lovecuts {}
strikerwtf {}
theperfectpang {}
sory017 {}
MYuri96 {}
PeaceMaker04 {}
Silente_Rad {}
alex-king {}
Kurobancho {}
fallenwisper210 {}
petiterenarde {}
bravefable {}
ognjenj {}
paradisekiss91 {}

In [18]:
pd.set_option('display.max_rows', 100)
gran_df

,3754155:Kazaaj,4250973:orhanoror,4083845:Clowneater,4005687:tintin_anime,4182671:jyeoul,3554097:Drackulis,3512535:lopmon,3855241:LulubellNoah,4094111:enzothebest,4283379:gucio18911,...,4228955:kainoa13912,4035465:iDuk,4090723:Richaross,3784149:RandomForever,4038015:Cherry12,3918423:yamanotesen,4073061:PKFanop,4144855:beckachu,3726901:Panzerx,3511913:kstinasunflower
30,7.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN
47,5.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
15785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
2471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN
696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0

In [19]:
gran_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4741 entries, 30 to 696
Columns: 578 entries, 3754155:Kazaaj to 3511913:kstinasunflower
dtypes: float64(578)
memory usage: 20.9 MB

In [33]:
# It is better to make this dataframe a sparse one
gran_df_sparse = gran_df.astype(pd.SparseDtype(np.float64, fill_value=np.nan))
gran_df_sparse.dtypes
gran_df_sparse.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4741 entries, 30 to 696
Columns: 578 entries, 3754155:Kazaaj to 3511913:kstinasunflower
dtypes: Sparse[float64, nan](578)
memory usage: 756.9 KB

In [34]:
del gran_df

In [35]:
gran_df_sparse

,3754155:Kazaaj,4250973:orhanoror,4083845:Clowneater,4005687:tintin_anime,4182671:jyeoul,3554097:Drackulis,3512535:lopmon,3855241:LulubellNoah,4094111:enzothebest,4283379:gucio18911,...,4228955:kainoa13912,4035465:iDuk,4090723:Richaross,3784149:RandomForever,4038015:Cherry12,3918423:yamanotesen,4073061:PKFanop,4144855:beckachu,3726901:Panzerx,3511913:kstinasunflower
30,7.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN
47,5.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
15785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
2471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN
696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0